#app {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 2em;
}
.cell {
  box-sizing: border-box;
  border: 1px solid #ccc;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: larger;

  cursor: pointer;
}

.cell.hide {
  /*   color: #999; */
  /*   color: transparent; */
  text-indent: -9999px;
}

.cell.show {
  color: #000;
}

.cell.clear {
  color: green;
}